@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #333;
}

html,
body {
	min-height: 100dvh;
	background-color: #FAFAFA;
}

body {
	padding: 1rem;
}

.introduction {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
}

.introduction h1 {
	font-family: 'Playfair Display', serif;
	font-size: 1.5rem;
	color: #000;
}

.introduction .description {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: .6rem;
	margin-bottom: 1rem;
}

.introduction figure {
	width: 100%;
}

.description .dots {
	color: #c4c4c4;
}

.description p {
	font-size: .7rem;
	text-wrap: balance;
}

.introduction figure img {
	width: 100%;
}

.icon_text {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: .6rem;
}

.extra_info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
	padding: 1rem 0;
}

.serving_info,
.time_info {
	display: flex;
	flex-direction: column;
}

.serving_info .yields,
.time_info .time {
	font-size: .6rem;
	font-weight: 500;
}

.serving_info .title,
.time_info .title {
	color: #BDBDBD;
	font-size: .5rem;
	text-transform: uppercase;
}

.servings i {
	color: #F2994A;
}
.serving_info .yields {
	color: #F2994A;
	font-weight: 700;
}

.time_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-bottom: 2rem;
}

main .ingredients {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1.2rem;
}

main .ingredients h2 {
	font-size: 1.1rem;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

main .ingredients article h3 {
	font-family: 'Playfair Display', serif;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.ingredients_list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: .8rem;
}

.ingredient_item {
	list-style: none;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: .5rem;
}

.ingredient_item label {
	font-size: .9rem;
}

.ingredient_item input[type='checkbox'] {
	display: none;
}

.ingredient_item .checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 1.2rem;
	height: 1.2rem;
	border: 1px solid #333;
	border-radius: .2rem;
	font-size: .8rem;
	color: #fff;
	overflow: hidden;
}

.checkbox > :first-child {
	display: none;
	color: #FAFAFA;
}

.ingredient_item input[type='checkbox']:checked ~ .checkbox {
	background-color: #F2994A;
	border-color: #F2994A;
	box-shadow: 0 0 6px 1px #F2994A;
}

.ingredient_item input[type='checkbox']:checked ~ .checkbox > :first-child {
	display: block;
}

main .instructions {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

main .instructions h2 {
  font-size: 1.5rem;
	font-weight: 700;
	font-family: 'Playfair Display', serif;
}

.instructions .instructions_list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1rem;
}

.instructions_list .instruction_item {
	list-style: none;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1rem;
}

.instructions_list .instruction_item .instruction_num {
	min-width: 2.4rem;
	height: 2.4rem;
	border-radius: .3rem;
	background-color: #F2994A;
	color: #FAFAFA;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: 'Playfair Display', serif;
	text-align: center;
}

.instructions_list .instruction_item p {
	font-size: 1rem;
}

.instructions .source span,
.instructions .source a {
	display: block;
	color: #BDBDBD;
	font-size: .7rem;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
}

footer p {
	color: #c4c4c4;
	font-size: .8rem;
	font-weight: 400;
}

footer p a {
	color: inherit;
	text-decoration: none;
	font-weight: 700;
}

/* ? Responsive */

@media (min-width: 1024px) {
	body {
		padding-inline: 10rem;
	}

	.introduction h1 {
		font-size: 3rem;
	}

	.introduction .description {
		width: 60%;
	}

	.description p {
		font-size: .8rem;
	}

	.main_wrapper {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
		justify-content: center;
		gap: 2rem;
		padding-top: 2rem;
	}

	.extra_info {
		align-items: center;
		padding: 2rem;
		gap: 2rem;
		border-radius: 1rem;
		box-shadow: 0 0 20px 1px #c4c4c4;
	}

	.extra_info .time_container {
		flex-direction: column;
		gap: 2rem;
	}

	.serving_info .yields,
	.time_info .time {
		font-size: .8rem;
	}

	.serving_info .title,
	.time_info .title {
		font-size: .6rem;
	}

	main .ingredients h2 {
		font-size: 1.5rem;
	}

	main .ingredients article h3 {
		font-size: 1.2rem;
	}

	.ingredient_item label {
		font-size: 1rem;
	}
}
